/*
Theme Name: constructo
Theme URI: http://themeforest.net/user/Anps/portfolio
Description: It can be used for business and corporate sites, your portfolio site or customize it to suit your wishes. Easy to use and clean code will be a simple task to get you up and running in no time. And with our support you cannot go wrong.
Author: AnpsThemes
Author URI: http://themeforest.net/user/Anps/portfolio
Version: 3.1.5
License: GNU General Public License
License URI: license.txt
Tags: responsive-layout, one-column, two-columns, three-columns, four-columns, left-sidebar, left-sidebar, custom-colors, custom-header, custom-menu, theme-options, translation-ready, threaded-comments
*/

.custom-sec {width:32%; margin-right:5px; margin-left:5px;}
.custom-sec p {color:#fff;}
.custom-sec h2 {color:#fff;}
.wid100 {width:100%;}
.aboutUsInnerSections {color:#fff;}
.news-input{width:75% !important; float:left; }
.pull-left {float:left;}
.aboutLeftSection .wpb_wrapper{padding:10px;}
.socialize {padding-left:10px;}
.socialize li {margin-right:10px;}
.site-footer {margin-top:0px !important;}
.footer-address {font-size:13px; line-height:20px;}
.footer-address b {font-size:15px;}
.contact-form {width:100%;}
.left-contact {width:48%; float:left; margin-right:2%;}
.right-contact {width:50%; float:left; }
.services-child-content {color:#fff;}