* {margin:0px; padding:0px;}

body {margin:0px auto; background-color:#4ea2bd;}

#logo {background: url( '../img/logo_350x224.png') no-repeat center; width: 350px; height: 224px; margin-top:-48px; margin-left:-200px; position: absolute; left: 50%; top: 41%; }

#texto {
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:15px;
	color:#333;
	font-weight:200;
	line-height:24px;
	width: 650px; height: 96px; margin-top:-260px; margin-left:-310px; position: absolute; left: 50%; top: 46%; }
	
#soon {
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#ffffff;
	font-weight:550;
	letter-spacing:1px;
	margin-top:140px; margin-left:-170px; position: absolute; left: 55%; top: 46%;

