/*backend - custom heading options*/
.anps_heading_enable > div {
    padding: 20px;
}

.anps_heading_enable .align-left {
    float: left;

}


p {
    line-height: 1.7em;
    margin: 0 0 10px;
}

table.page-title td, .min300 td {
    min-width: 300px;
    padding-bottom: 10px;
}

.sbg_container label {
	min-width: 300px;
}

.sbg_container label {
    display: inline-block;
    min-width: 300px;
    margin-bottom: 10px;
}
.sbg_container select {
	 margin-bottom: 10px;
}

.setting_text {
    display: inline-block;
    min-width: 300px;
}

.setting_input {
    display: inline;
}
#slide_template {
	min-width: 150px;
}

.anps_select2.select2-container{
    width: 100%!important;
}

.select2-dropdown.anps_select2 {
    width: 400px!important;
    max-width: 400px;
}

.select2-dropdown.anps_select2 li {
    color: #222;
    float: left;
    font-size: 12px;
    line-height: 1.2em;
    height: 40px;
    text-align: center;
    position: relative;
    width: 42px;
}

.select2-dropdown.anps_select2 .fa {
    font-size: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.select2-dropdown.anps_select2 .anps-icon-text {
    display: none;
}

.select2-dropdown.anps_select2 .select2-search {
    border-top: 1px solid #aaa;
    margin-top: -1px;
}

.widgets-holder-wrap .widget-inside {
    position: relative;
}    

.wp-full-overlay-sidebar-content .widget-content {
    position: relative;
}

/* Anps Icons */

.anps-iconpicker-list-wrapper {
    background-color: #fff;
    border: 1px solid #ddd;
    display: none;
    left: 50px;
    position: absolute;
    top: 50px;
    width: 300px;
}

.anps-iconpicker-list {
    max-height: 225px;
    margin: 0;
    overflow: auto;
    padding: 0;
}

.anps-iconpicker-list:after {
    clear: both;
    content: "";
    display: table;
}

.anps-iconpicker-list li {
    list-style: none;
    float: left;
    height: 47px;
    margin-bottom: 0;
    position: relative;
    width: 16.66666%;
}

.anps-iconpicker-list .anps-selected,
.anps-iconpicker-list li:hover {
    background-color: #00a0d2;
    color: #fff;
}

.anps-iconpicker-list li:hover {
    cursor: pointer;
}

body .anps-iconpicker-list .anps-selected {
    cursor: default;
}

.anps-iconpicker-list i {
    font-size: 21px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.anps-iconpicker-list span { display: none; }

.anps-iconpicker-search {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.anps-iconpicker-search input {
    box-sizing: border-box;
    padding: 7px 12px;
    width: 100%;
}

.anps-iconpicker {
    border: 1px solid #ddd;
    border-radius: 3px;
    display: inline-block;
    height: 100%;
    overflow: hidden;
    padding-left: 32px;
    position: relative;
}

.anps-iconpicker input { display: none; }

.anps-iconpicker button {
    background-color: #fff;
    border: none;
    border-left: 1px solid #ddd;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 15px;
    outline: none;
}

.anps-iconpicker button:hover,
.anps-iconpicker button:focus,
.anps-current-picker button {
    background-color: #f1f1f1;
}

.anps-current-picker {
    border-color: #aaa;
}

.anps-iconpicker i {
    color: #333;
    left: 0;
    font-size: 15px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
}