div.top-search-wrapper input[type="text"]{ color: #cccccc; } 
div.top-search-wrapper input[type="text"]{ background-color: #f3f3f3; } 
div.top-search-wrapper input[type="submit"]{ border-color: #dbdbdb; } 
.sf-menu li a{ color: #60b1c7; } 
.sf-menu li a:hover{ color: #60b1c7; } 
.sf-menu li.current-menu-ancestor a, .sf-menu li.current-menu-item a, .sf-menu li.current-post-ancestor a{ color: #fc6d6d; } 
.sf-menu li li{ background-color: #ffffff; } 
.sf-menu ul, .sf-menu ul li{ border-color: #ffffff; } 
.sf-menu li li a, .sf-menu li.current-menu-item li a, .sf-menu li.current-menu-ancestor li a, .sf-menu li li.current-menu-item li a, .sf-menu li.current-post-ancestor li a{ color: #60b1c7; } 
.sf-menu li li a:hover, .sf-menu li li.current-menu-item li a:hover, .sf-menu li li.current-menu-ancestor li a:hover{ color: #60b1c7; } 
.sf-menu li li.current-menu-item a, .sf-menu li li.current-menu-ancestor a, .sf-menu li li.current-menu-ancestor li.current-menu-item a, .sf-menu li li.current-post-ancestor a{ color: #fc6d6d; } 
div.page-header-top-gimmick{ background-color: #ffffff; } 
h1.page-header-title{ color: #4a4a4a; } 
span.page-header-caption{ color: #b6b6b6; } 
h1, h2, h3, h4, h5, h6{ color: #4a4a4a; } 
body{ color: #ffffff; } 
html{ background-color: #ffffff; } 
.container.main{ background-color: #ffffff; } 
a{ color: #5bb2c5; } 
a:hover{ color: #5bb2c5; } 
::selection, ::-moz-selection{ color: #000000; } 
::selection, ::-moz-selection{ background-color: #b5eaff; } 
.sidebar-wrapper a{ color: #969696; } 
.sidebar-wrapper a:hover{ color: #d1d1d1; } 
.custom-sidebar-title, .custom-sidebar-title a{ color: #494949; } 
.sidebar-wrapper .recent-post-widget-info, .sidebar-wrapper #twitter_update_list{ color: #cacaca; } 
div.recent-port-widget .recent-port-widget-thumbnail, div.recent-post-widget .recent-post-widget-thumbnail, div.custom-sidebar .flickr_badge_image{ background-color: #eeeeee; } 
.tagcloud a{ background-color: #f5f5f5; } 
div.footer-twitter-wrapper{ background-color: #1bc4de; } 
div.footer-twitter-wrapper{ color: #ffffff; } 
div.footer-twitter-wrapper a{ color: #ffffff; } 
.footer-wrapper a{ color: #ffffff; } 
.footer-wrapper a:hover{ color: #ffffff; } 
.footer-wrapper .custom-sidebar-title, .footer-wrapper .custom-sidebar-title a{ color: #ffffff; } 
.footer-wrapper, .footer-wrapper table th{ color: #ffffff; } 
.footer-wrapper .recent-post-widget-info, .footer-wrapper #twitter_update_list{ color: #ffffff; } 
div.footer-wrapper{ background-color: #58565e; } 
div.footer-wrapper *{ border-color: #3b3b3b; } 
div.footer-wrapper div.contact-form-wrapper input[type="text"], div.footer-wrapper div.contact-form-wrapper input[type="password"], div.footer-wrapper div.contact-form-wrapper textarea, div.footer-wrapper div.custom-sidebar #search-text input[type="text"]{ color: #474747; } 
div.footer-wrapper div.contact-form-wrapper input[type="text"], div.footer-wrapper div.contact-form-wrapper input[type="password"], div.footer-wrapper div.contact-form-wrapper textarea, div.footer-wrapper div.custom-sidebar #search-text input[type="text"]{ background-color: #333333; } 
div.footer-wrapper div.contact-form-wrapper input[type="text"], div.footer-wrapper div.contact-form-wrapper input[type="password"], div.footer-wrapper div.contact-form-wrapper textarea, div.footer-wrapper div.custom-sidebar #search-text input[type="text"]{ border-color: #434343; } 
.footer-wrapper .contact-form-wrapper button{ color: #7a7a7a; } 
.footer-wrapper .contact-form-wrapper button{ background-color: #222222; } 
div.footer-wrapper .personnal-widget-item .personnal-widget-info{ color: #ffffff; } 
div.footer-wrapper .tagcloud a{ background-color: #292929; } 
div.footer-wrapper div.recent-port-widget .recent-port-widget-thumbnail, div.footer-wrapper div.recent-post-widget .recent-post-widget-thumbnail,div.footer-wrapper .custom-sidebar .flickr_badge_image{ background-color: #2d2d2d; } 
.copyright-container{ color: #ffffff; } 
h2.gdl-slider-title{ color: #ffffff; } 
h2.gdl-slider-title{ background-color: #1bc4de; } 
div.gdl-slider-caption{ color: #d4d4d4; } 
div.gdl-slider-caption{ background: #333333; } 
.ls-bluediamond .ls-bottom-slidebuttons, .flex-control-nav, .nivo-controlNav, div.anythingSlider .anythingControls ul{ background: #1bc4de; } 
.ls-bluediamond .ls-bottom-slidebuttons a, .flex-control-nav li a, .nivo-controlNav a, div.anythingSlider .anythingControls ul a{ background-color: #ffffff; } 
.ls-bluediamond .ls-bottom-slidebuttons a.ls-nav-active, .ls-bluediamond .ls-bottom-slidebuttons a:hover.flex-control-nav li a:hover, .flex-control-nav li a.flex-active, .nivo-controlNav a:hover, .nivo-controlNav a.active, div.anythingSlider .anythingControls ul a.cur, div.anythingSlider .anythingControls ul a:hover { background: #000000; } 
.ls-bluediamond .ls-nav-prev, .ls-bluediamond .ls-nav-next,div.gdl-top-slider .flex-direction-nav li .flex-prev, div.gdl-top-slider .flex-direction-nav li .flex-next,div.gdl-top-slider .nivo-directionNav a.nivo-prevNav, div.gdl-top-slider .nivo-directionNav a.nivo-nextNav,div.anythingSlider .arrow.back, div.anythingSlider .arrow.forward{ background-color: #1bc4de; } 
.ls-bluediamond .ls-nav-prev:hover, .ls-bluediamond .ls-nav-next:hover, div.gdl-top-slider .flex-direction-nav li .flex-prev:hover, div.gdl-top-slider .flex-direction-nav li .flex-next:hover, div.gdl-top-slider .nivo-directionNav a.nivo-prevNav:hover, div.gdl-top-slider .nivo-directionNav a.nivo-nextNav:hover,div.anythingSlider .arrow.back:hover, div.anythingSlider .arrow.forward:hover{ background-color: #333333; } 
.flex-carousel.carousel-included{ background-color: #000000; } 
h1.stunning-text-title{ color: #5a5a5a; } 
.stunning-text-caption{ color: #9c9c9c; } 
.stunning-text-wrapper{ background-color: #ffffff; } 
h2.blog-title a, h1.blog-title a, div.portfolio-item .page-item-title a{ color: #4a4a4a; } 
h2.blog-title a:hover, h1.blog-title a:hover, div.portfolio-item .page-item-title a:hover{ color: #9c9c9c; } 
div.blog-date-wrapper{ border-color: #e3e3e3; } 
div.blog-date-widget-wrapper{ color: #a6a6a6; } 
div.blog-date-wrapper{ color: #4e4e4e; } 
div.blog-info-wrapper a{ color: #666666; } 
div.blog-info-wrapper{ color: #a6a6a6; } 
.about-author-wrapper{ background-color: #f5f5f5; } 
div.gdl-pagination a{ background-color: #f5f5f5; } 
div.gdl-pagination a{ color: #7b7b7b; } 
div.gdl-pagination a:hover{ background-color: #1bc4de; } 
div.gdl-pagination a:hover{ color: #ffffff; } 
div.gdl-pagination span{ background-color: #1bc4de; } 
div.gdl-pagination span{ color: #ffffff; } 
div.portfolio-media-wrapper span.portfolio-thumbnail-image-hover{ background-color: #39cce2; } 
.portfolio-item .portfolio-context{ background-color: #f6f6f6; } 
.portfolio-item .portfolio-context:hover{ background-color: #343434; } 
.portfolio-item .portfolio-context .portfolio-title a{ color: #5b5b5b; } 
.portfolio-item .portfolio-context:hover .portfolio-title a{ color: #ffffff; } 
.portfolio-item .portfolio-context .portfolio-tag, .portfolio-item .portfolio-context .portfolio-tag a{ color: #aaaaaa; } 
.portfolio-item .portfolio-context:hover .portfolio-tag, .portfolio-item .portfolio-context:hover .portfolio-tag a{ color: #aaaaaa; } 
div.single-portfolio .port-info{ color: #7a7a7a; } 
div.single-portfolio .port-info .head{ color: #404040; } 
div.portfolio-carousel-wrapper .port-nav, div.single-portfolio .port-nav a, div.gdl-carousel-testimonial .testimonial-navigation a{ background-color: #b9b9b9; } 
div.portfolio-carousel-wrapper .port-nav:hover, div.single-portfolio .port-nav a:hover, div.gdl-carousel-testimonial .testimonial-navigation a:hover{ background-color: #595959; } 
div.price-item .price-tag{ color: #404040; } 
div.price-item .price-tag .price-suffix{ color: #a5a5a5; } 
div.price-item .price-tag{ background-color: #fafafa; } 
div.price-item .price-tag{ border-color: #ffffff; } 
div.price-item{ color: #868686; } 
div.price-item .price-button{ background-color: #5b5b5b; } 
div.price-item .price-button{ color: #ffffff; } 
div.best-price .price-tag, div.best-price .price-tag .price-suffix{ color: #ffffff; } 
div.best-price .price-tag{ background-color: #1bc4de; } 
div.best-active{ border-top-color: #1bc4de; border-bottom-color: #1bc4de; } 
div.price-item .price-button{ background-color: #1bc4de; } 
div.personnal-item{ background-color: #f7f7f7; } 
div.personnal-item .personnal-position{ color: #9d9d9d; } 
div.personnal-item .personnal-title{ color: #353535; } 
div.personnal-item .personnal-thumbnail{ border-color: #1bc4de; } 
div.personnal-item .personnal-content{ color: #838383; } 
div.personnal-widget-item .personnal-widget-info{ color: #4a4a4a; } 
ul.gdl-accordion li .accordion-title, ul.gdl-toggle-box li .toggle-box-title{ color: #404040; } 
blockquote{ color: #ababab; } 
body blockquote{ border-color: #cfcfcf; } 
a.gdl-button, body button, input[type="submit"], input[type="reset"], input[type="button"]{ background-color: #1bc4de; } 
a.gdl-button, body button, input[type="submit"], input[type="reset"], input[type="button"]{ color: #ffffff; } 
h2.column-service-title{ color: #4a4a4a; } 
body *{ border-color: #e6e6e6; } 
.scroll-top{ color: #919191; } 
table, table tr, table tr td, table tr th{ border-color: #e5e5e5; } 
table th{ color: #666666; } 
table th{ background-color: #fdfdfd; } 
div.gdl-tab ul.gdl-tab-content, div.gdl-tab ul.gdl-tab-title a.active{ background-color: #ffffff; } 
div.gdl-tab ul.gdl-tab-content{ color: #a6a6a6; } 
div.gdl-tab ul.gdl-tab-title a.active{ color: #575757; } 
div.gdl-tab ul.gdl-tab-title li a.active{ border-top-color: #1bc4de; } 
div.gdl-tab ul.gdl-tab-title a{ color: #959595; } 
div.gdl-tab ul.gdl-tab-title a{ background-color: #fafafa; } 
div.gdl-carousel-testimonial .testimonial-content{ color: #9d9d9d; } 
div.gdl-carousel-testimonial .testimonial-info{ color: #656565; } 
div.gdl-carousel-testimonial .testimonial-content{ background-color: #f8f8f8; } 
div.gdl-static-testimonial .testimonial-item{ color: #666666; } 
div.gdl-static-testimonial .testimonial-item{ border-color: #bdbdbd; } 
div.gdl-static-testimonial .testimonial-info{ color: #a8a8a8; } 
.logo-wrapper{ padding-top: -0px; padding-bottom: -0px; } 
div.logo-right-text{ margin-top: -0px; } 
div.navigation-wrapper{ font-size: 13px; } 
h1.gdl-header-title{ font-size: 21px; } 
body{ font-size: 13px; } 
h3.custom-sidebar-title{ font-size: 15px; } 
h1{ font-size: 30px; } 
h2{ font-size: 25px; } 
h3{ font-size: 20px; } 
h4{ font-size: 18px; } 
h5{ font-size: 16px; } 
h6{ font-size: 15px; } 
body{ font-family: "PT Sans"; } 
h1, h2, h3, h4, h5, h6{ font-family: "ABeeZee"; } 
.gdl-slider-title{ font-family: "ABeeZee"; } 
h1.stunning-text-title{ font-family: "ABeeZee"; } 
div.navigation-wrapper{ font-family: "ABeeZee"; } 
ul.gdl-accordion li.active .accordion-title, ul.gdl-toggle-box li.active .toggle-box-title{ background-image: url(http://vistacontractorsmiami.com/wp-content/themes/bluediamond-v1-07/images/icon/dark/accordion-title-active.png); } 
ul.gdl-accordion li .accordion-title, ul.gdl-toggle-box li .toggle-box-title{ background-image: url(http://vistacontractorsmiami.com/wp-content/themes/bluediamond-v1-07/images/icon/dark/accordion-title.png); } 
div.gdl-carousel-testimonial .testimonial-content{ background-image: url(http://vistacontractorsmiami.com/wp-content/themes/bluediamond-v1-07/images/icon/dark/testimonial-quote.png); } 
div.personnal-widget-prev{ background-image: url(http://vistacontractorsmiami.com/wp-content/themes/bluediamond-v1-07/images/icon/dark/personnal-widget-left.png); } 
div.personnal-widget-next{ background-image: url(http://vistacontractorsmiami.com/wp-content/themes/bluediamond-v1-07/images/icon/dark/personnal-widget-right.png); } 
div.gdl-search-button, div.custom-sidebar #searchsubmit{ background: url(http://vistacontractorsmiami.com/wp-content/themes/bluediamond-v1-07/images/icon/dark/search-button.png) no-repeat center; } 
div.top-search-wrapper input[type='submit']{ background: url(http://vistacontractorsmiami.com/wp-content/themes/bluediamond-v1-07/images/icon/dark/top-search-button.png) no-repeat right center;; } 
div.custom-sidebar ul li{ background: url(http://vistacontractorsmiami.com/wp-content/themes/bluediamond-v1-07/images/icon/dark/li-arrow.png) no-repeat 0px center; } 
div.footer-wrapper div.custom-sidebar ul li{ background: url(http://vistacontractorsmiami.com/wp-content/themes/bluediamond-v1-07/images/icon/light/li-arrow.png) no-repeat 0px center; } 
div.footer-wrapper div.custom-sidebar #searchsubmit{ background: url(http://vistacontractorsmiami.com/wp-content/themes/bluediamond-v1-07/images/icon/light/search-button.png) no-repeat center; } 
div.footer-wrapper div.personnal-widget-prev{ background-image: url(http://vistacontractorsmiami.com/wp-content/themes/bluediamond-v1-07/images/icon/light/personnal-widget-left.png); } 
div.footer-wrapper div.personnal-widget-next{ background-image: url(http://vistacontractorsmiami.com/wp-content/themes/bluediamond-v1-07/images/icon/light/personnal-widget-right.png); } 
div.gdl-twitter-wrapper{ background: url(http://vistacontractorsmiami.com/wp-content/themes/bluediamond-v1-07/images/icon/light/twitter-bottom-head.png) 0 2px no-repeat; } 
div.gdl-twitter-navigation a{ background-image: url(http://vistacontractorsmiami.com/wp-content/themes/bluediamond-v1-07/images/icon/light/twitter-bottom-nav.png); } 
.flex-carousel .flex-direction-nav li a.flex-prev{ background: url(http://vistacontractorsmiami.com/wp-content/themes/bluediamond-v1-07/images/icon/light/carousel-nav-left.png) no-repeat; } 
.flex-carousel .flex-direction-nav li a.flex-next{ background: url(http://vistacontractorsmiami.com/wp-content/themes/bluediamond-v1-07/images/icon/light/carousel-nav-right.png) no-repeat; } 
div.contact-form-wrapper input[type="text"], div.contact-form-wrapper input[type="password"], div.contact-form-wrapper textarea, div.sidebar-wrapper #search-text input[type="text"], div.sidebar-wrapper .contact-widget input, div.custom-sidebar .contact-widget textarea, div.comment-wrapper input[type="text"], div.comment-wrapper input[type="password"], div.comment-wrapper textarea{ color: #888888; background-color: #ffffff; border-color: #e3e3e3; -webkit-box-shadow: #ececec 0px 1px 4px inset, #f7f7f7 -5px -5px 0px 0px, #f7f7f7 5px 5px 0px 0px, #f7f7f7 5px 0px 0px 0px, #f7f7f7 0px 5px 0px 0px, #f7f7f7 5px -5px 0px 0px, #f7f7f7 -5px 5px 0px 0px ; box-shadow: #ececec 0px 1px 4px inset, #f7f7f7 -5px -5px 0px 0px, #f7f7f7 5px 5px 0px 0px, #f7f7f7 5px 0px 0px 0px, #f7f7f7 0px 5px 0px 0px, #f7f7f7 5px -5px 0px 0px, #f7f7f7 -5px 5px 0px 0px ; } 
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
* {font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif !important; font-weight: 400}
ul.sf-menu li a {border-bottom: 4px solid #5CB0C9; color: #5CB0C9;min-height: 3em; text-transform: uppercase; padding: 0 !important; margin: 0 20px !important; font-size: 1.3em; font-weight: 300 !important; -moz-transition: none;-webkit-transition: none;-o-transition: color 0 ease-in;transition: none;  position:relative; z-index: 9998}
ul.sf-menu li a:active, ul.sf-menu li.current-menu-item a {color: #FC6D6D !important; border-bottom: 4px solid #FC6D6D}
div.menu-wrapper {text-align: center; width: 100%}
ul.sf-menu li.menu-item-18 a, ul.sf-menu li.menu-item-18 a:active, .home ul.sf-menu li.menu-item-18 a:active{border-bottom: 4px solid #5CB0C9 !important; color: #5CB0C9 !important;}
ul.sf-menu li {position: relative; text-align: left}
ul.sf-menu {margin: 14px auto 20px auto !important; display: inline-block !important;}
.home ul.sf-menu {margin-top: 10px !important}
ul.sf-menu li:hover:after, .page-id-9 ul.sf-menu li.menu-item-23:after, .page-id-24 ul.sf-menu li.menu-item-25:after, .page-id-12 ul.sf-menu li.menu-item-22:after, .page-id-14 ul.sf-menu li.menu-item-21:after, .page-id-16 ul.sf-menu li.menu-item-20:after, .page-id-2 ul.sf-menu li.menu-item-19:after {display:block; position:absolute; z-index: 9999; top: 3.4em; left:20px; width:190px; height: 65px; background: #FC6D6D; content: ""; background-position: 0 -75px}
div.navigation-wrapper, ul.sf-menu li a {position:relative;background: none !important}
ul.sf-menu li a strong {font-weight:700 !important; display: block; font-size: 1.44em; margin-bottom: -2px}
div.footer-container {margin-top:0}
#menu-footer-right-menu {float:right}
#menu-footer-right-menu li {background:none; text-transform:uppercase; font-size:1.14em; padding: 1px 0 0 0; text-align:right}
div.footer-container p {padding: 0; margin-bottom: 1px}
.footer-wrapper {background: #595662 url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/footer.jpg) 0 0 repeat;}
.footer-wrapper-inner {padding-top: 8px;-webkit-box-shadow: inset 0px 7px 10px 0px rgba(0, 0, 0, 0.2);box-shadow: inset 0px 7px 10px 0px rgba(0, 0, 0, 0.2);}
.body-outer-wrapper {background: #fff url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/header.jpg) 0 151px repeat-x;}
/* Imagenes menu */
/* Home */
ul.sf-menu li.menu-item-18:hover:after {background: transparent url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/01_Home.png) 0 -70px no-repeat !important; top: 3.3em !important;}
/* About */
ul.sf-menu li.menu-item-19:hover:after, ul.sf-menu li.menu-item-19:active:after,ul.sf-menu li.menu-item-19:focus:after, .page-id-2 ul.sf-menu li.menu-item-19:after {background: transparent url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/02_AboutUs.png) 0 -74px no-repeat !important; top: 3.6em !important; left: 0px}
ul.sf-menu li.menu-item-19:focus:after,ul.sf-menu li.menu-item-19:active:after, .page-id-2 ul.sf-menu li.menu-item-19:after {background-position: 0 0 !important;}
/* Bathroom */
ul.sf-menu li.menu-item-20:hover:after, ul.sf-menu li.menu-item-20:focus:after, ul.sf-menu li.menu-item-20:active:after, .page-id-16 ul.sf-menu li.menu-item-20:after {background: transparent url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/03_Bathroom.png) 0 -75px no-repeat !important;}
ul.sf-menu li.menu-item-20:focus:after, ul.sf-menu li.menu-item-20:active:after, .page-id-16 ul.sf-menu li.menu-item-20:after {background-position: 0 0 !important;}
/* Kitchen */
ul.sf-menu li.menu-item-21:hover:after,ul.sf-menu li.menu-item-21:focus:after, ul.sf-menu li.menu-item-21:active:after, .page-id-14 ul.sf-menu li.menu-item-21:after {background: transparent url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/04_Kitchen.png) 1px -75px no-repeat !important;}
ul.sf-menu li.menu-item-21:focus:after, ul.sf-menu li.menu-item-21:active:after, .page-id-14 ul.sf-menu li.menu-item-21:after {background-position: 0 0 !important;}
/* Room */
ul.sf-menu li.menu-item-22:hover:after, ul.sf-menu li.menu-item-22:focus:after, ul.sf-menu li.menu-item-22:active:after, .page-id-12 ul.sf-menu li.menu-item-22:after {background: transparent url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/05_Room.png) 0 -67px no-repeat !important;}
ul.sf-menu li.menu-item-22:focus:after, ul.sf-menu li.menu-item-22:active:after, .page-id-12 ul.sf-menu li.menu-item-22:after {background-position: 0 0 !important;}
/* Services */
ul.sf-menu li.menu-item-23:hover:after, ul.sf-menu li.menu-item-23:focus:after, ul.sf-menu li.menu-item-23:active:after, .page-id-9 ul.sf-menu li.menu-item-23:after {background: transparent url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/06_Services.png) 0 -76px no-repeat !important; top: 3.5em !important; left: 10px}
ul.sf-menu li.menu-item-23:focus:after, ul.sf-menu li.menu-item-23:active:after, .page-id-9 ul.sf-menu li.menu-item-23:after {background-position: 0 0 !important;}
/* Contact */
ul.sf-menu li.menu-item-25:hover:after, ul.sf-menu li.menu-item-25:focus:after, ul.sf-menu li.menu-item-25:active:after, .page-id-24 ul.sf-menu li.menu-item-25:after {background: transparent url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/07_ContactUs.png) 0 -68px no-repeat !important; left: -10px}
ul.sf-menu li.menu-item-25:focus:after, ul.sf-menu li.menu-item-25:active:after, .page-id-24 ul.sf-menu li.menu-item-25:after {background-position: 0 0 !important;}
/* Fin imagenes menu */
body.page .page {color:#8C8885 !important; width: 60%; float: left;}
body.page .contact-area {float:right; width: 40%; margin-top: 40px}
.contact-area h3 {display: none}
body.page .page a {color: #5CB0C9 !important}
h1.page-header-title {text-transform: uppercase; color: #F76F6F !important; margin: 0 !important; padding: 55px 0 0 0 !important; font-weight: 300; font-size: 1.9em !important}
.div.page-header-wrapper {margin: 0 0 -15px 0 !important}
.gdl-border-x {background: none !important;}
.contact-area {background: transparent url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/01_homeB.jpg) 0 0 no-repeat}
.page-id-2 .contact-area {background: transparent url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/02_AboutUsB.jpg) 0 0 no-repeat}
.page-id-16 .contact-area {background: transparent url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/03_BathroomB.jpg) 0 0 no-repeat}
.page-id-14 .contact-area {background: transparent url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/04_KitchenB.jpg) 0 0 no-repeat}
.page-id-12 .contact-area {background: transparent url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/05_RoomB.jpg) 0 0 no-repeat}
.page-id-9 .contact-area {background: transparent url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/06_ServicesB.jpg) 0 0 no-repeat}
.page-id-24 .contact-area {background: transparent url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/07_ContactUsB.jpg) 0 0 no-repeat}
.contact-area form {overflow: hidden; width: 357px; margin-top: 30px; padding: 43px 0 15px 0; padding-left: 15px; background: transparent url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/LayerContactUs.png) 0 0 no-repeat}
.contact-area form label {display:block;font-weight: normal !important; font-size: 1.7em !important; text-align:right; margin: -12px 15px -12px 0; }
.page-wrapper {padding-left: 120px;min-height: 508px}
.home .page-wrapper, .page-id-24 .page-wrapper {padding-left: 0px}
.page-id-2 .page-wrapper {background: transparent url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/02_AboutUsA.jpg) 0 40px no-repeat}
.page-id-16 .page-wrapper {background: transparent url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/03_BathroomA.jpg) 0 40px no-repeat}
.page-id-14 .page-wrapper {background: transparent url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/04_KitchenA.jpg) 0 40px no-repeat}
.page-id-12 .page-wrapper {background: transparent url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/05_RoomA.jpg) 0 40px no-repeat}
.page-id-9 .page-wrapper {background: transparent url(http://vistacontractorsmiami.com/wp-content/uploads/2013/09/06_ServicesA.jpg) 0 40px no-repeat}
.row {width: 1400px}
.page-id-24 iframe {max-width: 100%; width:100%; margin-top: 5px}
.contact-area form p {line-height: 1.1 }
.contact-area form input, .contact-area form textarea, .wpcf7-form-control-wrap {text-align: left;width: 91.5% !important; padding: 1% 2% 0 2% !important; font-size: 1.14em; display:block; border: none; background: #fff;}
.contact-area form textarea {height: 80px}
.contact-area form input.wpcf7-submit {text-align:center; margin-right: 15px;width: 180px !important; padding: 3% 2% !important; display: inline-block !important; float: right; text-transform: uppercase; font-weight: normal; background: #413E4A !important; color: #fff !important}
.container {max-width: 1400px !important}
.content-wrapper {padding-top: 30px}
.wpcf7-response-output {background:#000; background: rgba(0,0,0,0.6); border: none;}
.home div.content-wrapper {padding-bottom:0 !important;}
.page-id-24 div.content-wrapper {padding-bottom:0 !important; margin-bottom: -45px !important}
div.container.main{ background: transparent !important; }
