/*
Theme Name: Blue Diamond
Theme URI: -
Description: Blue Diamond Wordpress Theme
Version: 1.07
Author: Goodlayers
Author URI: http://goodlayers.com
License:
License URI:
*/

/* #Style Reset
================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0; padding: 0; border: 0;
	font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
a{ text-decoration: none; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* #Basic Styles
================================================== */
body {
	line-height: 155%; line-height:1.55; 
	-webkit-text-size-adjust: 100%;
	font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif; }
h1, h2, h3, h4, h5, h6 {
	font-weight: normal; line-height: 1.3; margin-bottom: 15px;
	font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif; }	
/*--- web safe font ---* 
	HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif
	Georgia, "Times New Roman", Times, serif
 *--- web safe font ---*/
 
p{ margin-bottom: 20px; }
p:last-child{ margin-bottom: 0px;}

table { border-width: 1px; border-style: solid; width: 100%; }
tr th{ border-bottom-width: 1px; border-bottom-style: solid; text-align: left; }
tr th, tr td{ padding: 9px 20px; border-right: 1px solid; }
tr th:last-child, tr td:last-child{ border-right: 0px; }
table th{ font-weight: bold; }
	
em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 80%; }	
sup { height: 0; line-height: 1; position: relative; top: -0.6em; 
	vertical-align: baseline !important; vertical-align: bottom; font-size: 10px;}
sub { height: 0; line-height: 1; position: relative; top: +0.2em; 
	vertical-align: baseline !important; vertical-align: bottom; font-size: 10px;}

ul,ol{ margin-left: 30px; }
ul{ list-style: disc; }	
ol{ list-style: decimal; }
	
blockquote{ margin: 10px 10px 10px 20px; padding: 15px 20px 15px 25px; border-left-width: 3px; border-left-style: solid;
	font-style: oblique; font-size: 17px; font-family: Georgia,"Times New Roman",Times,serif; }

form, fieldset{ margin-bottom: 20px; }	

button, input[type="submit"], input[type="reset"], input[type="button"] { 
	margin: 0px; padding: 7px 13px; display: inline-block; font-size: 12px; 
	font-weight: bold; cursor: pointer; border-width: 0px; border-style: solid; }
	
/*	
button, input[type="submit"], input[type="reset"], input[type="button"] { 
	margin: 0px; padding: 6px 12px; display: inline-block; 
	background: url('images/button-gradient.png') repeat-x; font-weight: bold; cursor: pointer; 
	border-width: 1px; border-style: solid;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
	background-image: url('images/button-gradient-hover.png'); }
*/
	
input[type="text"], input[type="password"], input[type="email"],
textarea, select {  padding: 4px 4px; margin: 0; outline: none; max-width: 100%; margin-bottom: 10px; border-width: 1px; border-style: solid;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
input[type="checkbox"], input[type="radio"] { display: inline; margin-bottom: 10px; }	
select { padding: 0; }	

/* #Wordpress Style
================================================== */
.alignleft, img.alignleft { float:left; margin: 5px 20px 20px 0px; }
.alignright, img.alignright { float:right; margin: 5px 0px 20px 20px; }
.aligncenter, img.aligncenter { display:block; margin: 5px auto; }
.alignnone, img.alignnone { margin: 5px 20px 20px 0; }
.wp-caption { text-align: center; padding: 8px 3px 5px; max-width: 100%;
	border-width: 1px; border-style: solid; background: #ffffff;  
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.wp-caption img { border: 0 none; padding: 0; margin: 0; max-width: 98.5%; width: auto; }
.wp-caption p.wp-caption-text { line-height: 1.5; font-size: 10px; margin: 0; }
.wp-smiley { margin: 0 !important; max-height: 1em; }

.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

.sticky{}
.bypostauthor{}

/* #Custom Style
================================================== */
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.pt20{ padding-top: 20px !important; }
.pb20{ padding-bottom: 20px !important; }
.mb0{ margin-bottom: 0px !important; } .mb1{ margin-bottom: 1px !important; } .mb2{ margin-bottom: 2px !important; }
.mb3{ margin-bottom: 3px !important; } .mb4{ margin-bottom: 4px !important; } .mb5{ margin-bottom: 5px !important; }
.mb6{ margin-bottom: 6px !important; } .mb7{ margin-bottom: 7px !important; } .mb8{ margin-bottom: 8px !important; }
.mb9{ margin-bottom: 9px !important; } .mb10{ margin-bottom: 10px !important; } 
.mb11{ margin-bottom: 11px !important; } .mb12{ margin-bottom: 12px !important; } .mb13{ margin-bottom: 13px !important; }
.mb14{ margin-bottom: 14px !important; } .mb15{ margin-bottom: 15px !important; } .mb16{ margin-bottom: 16px !important; }
.mb17{ margin-bottom: 17px !important; } .mb18{ margin-bottom: 18px !important; } .mb19{ margin-bottom: 19px !important; }
.mb20{ margin-bottom: 20px !important; }
.mb21{ margin-bottom: 21px !important; } .mb22{ margin-bottom: 22px !important; } .mb23{ margin-bottom: 23px !important; }
.mb24{ margin-bottom: 24px !important; } .mb25{ margin-bottom: 25px !important; } .mb26{ margin-bottom: 26px !important; }
.mb27{ margin-bottom: 27px !important; } .mb28{ margin-bottom: 28px !important; } .mb29{ margin-bottom: 29px !important; }
.mb30{ margin-bottom: 30px !important; }
.mb31{ margin-bottom: 31px !important; } .mb32{ margin-bottom: 32px !important; } .mb33{ margin-bottom: 33px !important; }
.mb34{ margin-bottom: 34px !important; } .mb35{ margin-bottom: 35px !important; } .mb36{ margin-bottom: 36px !important; }
.mb37{ margin-bottom: 37px !important; } .mb38{ margin-bottom: 38px !important; } .mb39{ margin-bottom: 39px !important; }
.mb40{ margin-bottom: 40px !important; }
.mb41{ margin-bottom: 41px !important; } .mb42{ margin-bottom: 42px !important; } .mb43{ margin-bottom: 43px !important; }
.mb44{ margin-bottom: 44px !important; } .mb45{ margin-bottom: 45px !important; } .mb46{ margin-bottom: 46px !important; }
.mb47{ margin-bottom: 47px !important; } .mb48{ margin-bottom: 48px !important; } .mb49{ margin-bottom: 49px !important; }
.mb50{ margin-bottom: 50px !important; }

/*--- color animation ---*/
a, .portfolio-context{
	transition: color 300ms, background-color 300ms, opacity 300ms;
	-moz-transition: color 300ms, background-color 300ms, opacity 300ms;    /* FF3.7+ */
	-o-transition: color 300ms, background-color 300ms, opacity 300ms;      /* Opera 10.5 */
	-webkit-transition: color 300ms, background-color 300ms, opacity 300ms; /* Saf3.2+, Chrome */ }

/* #Theme Style
================================================== */

/*--- custom full background ---*/
div.gdl-custom-full-background{ position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; z-index: -1; }
div.gdl-custom-full-background img{ 
	position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;
	min-width: 50%; min-height: 50%; z-index: -1; }
	
/*--- button ---*/
a.gdl-button{ display: inline-block; cursor: pointer; padding: 1px 15px; 
	height: 28px; line-height: 27px; margin-bottom: 20px; margin-right: 10px; font-family: "HelveticaNeue", "Helvetica Neue", Arial, sans-serif; font-weight: bold; }
a.gdl-button.small{ padding: 1px 12px; height: 26px; line-height: 26px; font-size: 11px; }
a.gdl-button.large{ padding: 2px 20px; height: 33px; line-height: 34px; font-size: 14px; }

/*
a.gdl-button{ display: inline-block; font-weight: bold; cursor: pointer; 
	padding: 1px 15px; height: 28px; line-height: 28px;
	border-width: 1px; border-style: solid;  
	background: url('images/button-gradient.png') repeat-x; 
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
a.gdl-button:hover{ background-image: url('images/button-gradient-hover.png'); }
*/

/*--- preloader ---*/
.preloader { display: block; background:url(images/loading.gif) center center no-repeat; }

/*--- logo ---*/
div.logo-wrapper{ text-align: center; margin: 0px 10px; max-width: 100%; } 
div.logo-wrapper img{ display: inline-block; } 
div.logo-wrapper h1{ margin: 0px; visibility: visible !important; } 

div.logo-right-text{ margin-left: 10px; margin-right: 10px; }
div.logo-right-text-content{ margin-bottom: 12px; }

/*--- top navigation ---*/
div.top-navigation-wrapper{ position: relative; z-index: 20; height: 7px; }
div.top-navigation-wrapper-gimmick{ height: 3px;  }
div.top-navigation.container{ text-align: center; font-size: 11px; padding-top: 7px; padding-bottom: 7px; line-height: 100%; }
div.top-navigation-left{ float: left; line-height: 17px; margin-left: 10px; }
div.top-navigation-right{ float: right; margin-right: 10px; }

/*--- social icon ---*/
div.social-wrapper { float: right; margin-top: 15px; }
div.social-icon { float: left; margin-right: 10px; cursor: pointer; }
div.social-icon:last-child { margin-right: 0px; }

/*--- navigation ---*/
div.gdl-navigation-wrapper{ position: relative;}
div.navigation-wrapper{ margin: 0px 10px; 
	font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif; }

div.responsive-menu-wrapper{ margin: 0px 10px; }
div.responsive-menu-wrapper select{ width: 100%; height: 25px; }

/*--- top search ---*/
div.top-search-wrapper .gdl-search-form{ float: right; position: relative; }
div.top-search-wrapper .gdl-search-form form{ margin-bottom: 0px; }
div.top-search-wrapper input[type="text"]{ margin: 0px; border: 0px; padding: 10px 35px 10px 10px;  
	height: 14px; line-height: 14px; font-size: 11px; width: 160px; display: block; 
	
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;  }
div.top-search-wrapper input[type="text"]:focus { 
	border: 0px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
div.top-search-wrapper input[type="submit"]{ border: 0px; padding: 0px;
	width: 24px; height: 14px; float: left; display: block; 
	position: absolute; top: 50%; margin-top: -7px; right: 10px;
	border-left-width: 1px; border-left-style: solid;
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;  }

/*--- page title ---*/
div.page-header-wrapper{ margin: 0px 10px 0px; overflow: hidden; }
div.page-header-top-gimmick{ height: 5px; }
h1.page-header-title{ font-weight: normal; display: inline-block; 
	margin: 33px 20px 33px 0px; }
span.page-header-caption{ font-size: 17px; }

div.gdl-header-wrapper{ margin-bottom: 22px; padding-right: 50px; }
h3.gdl-header-title{ font-size: 18px; font-weight: normal; margin: 0px 10px 0px 0px; display: inline-block; }

/*--- page content ---*/
div.gdl-page-item{ padding-top: 35px; }
div.content-wrapper.container{ overflow: hidden; }

/*--- top slider / layer slider ---*/
div.gdl-top-slider{ margin-top: 20px; }
div.gdl-top-layer-slider-wrapper{ margin: 0px 10px; }

div.gdl-top-layer-slider-wrapper,
div.gdl-top-slider .gdl-slider-wrapper{ padding-bottom: 50px; background-repeat: no-repeat; 
	background-image: url('images/top-slider-bottom-shadow.png'); background-position: center bottom; 
	
	-webkit-background-size: 100% 50px;
	-moz-background-size: 100% 50px;
	background-size: 100% 50px;	}

div.anythingSlider .arrow.back,
div.gdl-top-slider .nivo-directionNav a.nivo-prevNav,
div.gdl-top-slider .flex-direction-nav li .flex-prev{ left: -30px; background-repeat: no-repeat;
	background-image: url('images/top-slider-nav-left.png'); background-position: center center;
	width: 30px; height: 144px; top: 50%; margin-top: -72px; }
div.anythingSlider .arrow.forward,
div.gdl-top-slider .nivo-directionNav a.nivo-nextNav,
div.gdl-top-slider .flex-direction-nav li .flex-next{ right: -30px; background-repeat: no-repeat;
	background-image: url('images/top-slider-nav-right.png'); background-position: center center;
	width: 30px; height: 144px; top: 50%; margin-top: -72px; }

/*--- sidebar ---*/

div.gdl-page-item.columns{ float: right; }
div.gdl-left-sidebar.columns{ float: left; }

div.custom-sidebar{ margin-bottom: 45px; position: relative; }
h3.custom-sidebar-title{ font-weight: normal; padding-bottom: 10px; margin-bottom: 8px; position: relative; }
	
div.gdl-sidebar-wrapper{ overflow: hidden; }
div.gdl-right-sidebar .sidebar-wrapper{ padding-top: 35px; padding-left: 20px; }
div.gdl-right-sidebar .custom-sidebar-title{ padding-left: 20px; width: 100%; margin-left: -20px; }
div.gdl-left-sidebar .sidebar-wrapper{ padding-top: 35px; padding-right: 20px; }
div.gdl-left-sidebar .custom-sidebar-title{ padding-right: 20px; width: 100%; }
	
/*--- footer ---*/
div.footer-top-bar{ height: 4px; }
div.footer-wrapper{ overflow: hidden; }

div.footer-twitter-wrapper{ padding: 19px 0px; }
div.footer-twitter-wrapper .gdl-twitter-wrapper{ position: relative; margin: 0px 10px; padding-left: 30px; padding-right: 30px; } 
div.footer-twitter-wrapper ul{ margin: 0px; list-style: none; }

div.gdl-twitter-navigation{ position: absolute; right: 0px; top: 50%; margin-top: -4px; z-index: 999; }
div.gdl-twitter-navigation a{ width: 6px; height: 9px; float: left; cursor: pointer; margin-left: 10px; 

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */}
div.gdl-twitter-navigation a:first-child{ margin-left: 0px; }
div.gdl-twitter-navigation a.next{ background-position: -6px; }

/*--- copyright ---*/
div.copyright-wrapper{ margin: 0px 10px; padding: 15px 0px; font-size: 11px; }
div.copyright-left{ float: left; line-height: 1.9; }
div.copyright-right{ float: right; line-height: 1.9; }
div.copyright-right a{ margin: auto 10px; }


/*-- about author (blog) ---*/
div.about-author-wrapper{ margin-top: 30px; margin-bottom: 30px; padding: 18px; }
div.about-author-avartar{ float: left; margin-right: 20px; }
div.about-author-info{ overflow: hidden; }
h5.about-author-title{ font-size: 18px; margin-top: 3px; margin-bottom: 10px; }

/*--- stack images ---*/
div.stack-images-wrapper img{ display: block; }
div.stack-images-wrapper .stack-images-single{ margin-bottom: 20px; position: relative; }
div.stack-images-wrapper .stack-images-caption{ max-width: 65%; position: absolute; right: 20px; bottom: 20px; }

/*--- single portfolio ---*/
div.gdl-single-portfolio{ margin-bottom: 25px; }
div.single-portfolio .port-media-wrapper{ max-width: 68%; float: left; margin-right: 20px; overflow: hidden; }
div.single-portfolio .port-media-wrapper.gdl-video { width: 68%; }
div.single-portfolio .port-media-wrapper.gdl-slider{ width: 68%; }
div.single-portfolio .port-media-wrapper.gdl-slider .flex-control-nav{ display: none; }
div.single-portfolio .port-info-wrapper{ padding-bottom: 25px; margin-bottom: 25px;
	border-bottom-width: 1px; border-bottom-style: solid; }
div.single-portfolio .port-info{ margin-bottom: 6px; }
div.single-portfolio .port-info .head{ font-weight: bold; }
div.single-portfolio .port-content-wrapper{ overflow: hidden; }
div.single-portfolio .port-nav{ margin-bottom: 15px; }
div.single-portfolio .gdl-related-portfolio{ padding-top: 30px; }
div.row div.gdl-related-portfolio div.gdl-header-wrapper{ margin-bottom: 30px; }

div.single-portfolio.single-sidebar .port-media-wrapper,
div.single-portfolio.both-sidebar .port-media-wrapper{ max-width: 100%; margin-right: 0px; float: none; margin-bottom: 20px; }
div.single-portfolio.single-sidebar .port-content-wrapper,
div.single-portfolio.both-sidebar .port-content-wrapper{ overflow: visible; }
div.single-portfolio.single-sidebar .port-nav .port-prev-nav, 
div.single-portfolio.single-sidebar .port-nav .port-next-nav, 
div.single-portfolio.both-sidebar .port-nav .port-prev-nav,
div.single-portfolio.both-sidebar .port-nav .port-next-nav { margin-bottom: 15px; }

/*--- Leave Reply ---*/
h3.social-share-title{ font-size: 18px; }
div.social-shares ul{ list-style: none; margin-left: 0px; }
div.social-shares ul li{ float: left; margin-right: 8px; margin-bottom: 8px; }
div.social-shares ul li img{ display: block; }

/*--- Comments ---*/
div.comment-wrapper{  margin-top: 40px; }
div.comment-wrapper .comment-title{  font-size: 18px; }
div.comment-wrapper .comment-form-comment{  margin-right: 40px; }
div.comment-wrapper #reply-title{ font-size: 18px; margin-bottom: 15px; }

div.comment-wrapper input[type="text"], input[type="password"] {
	width: 320px; height: 20px; max-width: 70%; line-height: 20px; padding: 5px; margin: 5px 5px 25px; float: left; }
div.comment-wrapper textarea{
	height: 165px; width: 590px; max-width: 100%; line-height: 20px; padding: 5px; margin: 5px 5px 25px; }

div.comment-wrapper input { float: left; }
div.comment-wrapper label { float: left; line-height: 32px; margin: 5px 0px 0px 10px; }
div.comment-wrapper span { line-height: 24px; margin-right: 2px; }

div.comment-wrapper .comment-form-captcha img { float: left; margin-right: 20px; margin-top: 1px; }
div.comment-wrapper .comment-form-captcha input { float: left; width: 205px; max-width: 40%; }

ol.comment-list{ margin: 0px; list-style: none; }
ol.comment-list .comment-body{ border-bottom-width: 1px; border-bottom-style: solid; margin-top: 22px; padding-bottom: 22px; }
ol.comment-list ul{ margin: 0px 0px 0px 30px; list-style: none; }
div.comment-avartar{ float: left; }
div.comment-context{ margin-left: 80px; }
span.comment-author{  margin-right: 5px; font-size: 16px; }
span.comment-date{  margin-right: 5px; font-style: italic; font-family: 'Droid Serif'; font-size: 11px;}
span.comment-time{ margin-right: 5px; font-style: italic; }
div.comment-content{ margin-top: 7px; }

div.comment-wrapper #respond{ margin-top: 30px; }

/*--- footer ---*/
div.footer-wrapper .custom-sidebar{ margin-bottom: 40px; }
div.footer-container{ margin-top: 55px; }

/*--- Site map ---*/
.page-wrapper.sitemap-page .custom-sidebar-title{ border: 0; padding-bottom: 0; }

/* #Page Item
================================================== */

/*--- accordion ---*/
ul.gdl-accordion{ list-style: none; margin-left: 0px; }
ul.gdl-accordion li{ position: relative; margin-bottom: 15px; overflow: hidden; } 
ul.gdl-accordion li:last-child{ margin-bottom: 0px; } 
ul.gdl-accordion li .accordion-title{ margin: 0px; padding: 5px 0px 5px 35px; font-weight: bold;
	font-size: 15px; cursor: pointer; background-position: 0px center; background-repeat: no-repeat; }
ul.gdl-accordion li .accordion-content{ margin: 15px 20px 10px 35px; }

ul.gdl-accordion li ul{ margin-left: 30px; list-style: disc; }
ul.gdl-accordion li li{ background: none; margin: 0px; overflow: visible; }

/*--- blog ---*/
div.gdl-blog-widget{ margin-bottom: 40px; }
div.gdl-blog-widget:last-child{ margin-bottom: 0px; }
div.gdl-blog-widget .blog-media-wrapper img{ display: block; }
div.gdl-blog-widget .blog-media-wrapper .flexslider{ overflow: hidden; }
div.gdl-blog-widget .blog-media-wrapper.gdl-slider .flex-control-nav{ display: none; }
div.gdl-blog-widget .blog-date-wrapper{ text-align: center; float: left; padding: 15px 2px 0px; 
	margin-right: 20px; line-height: 1; border-top-width: 3px; border-top-style: solid; width: 35px; } 
div.gdl-blog-widget .blog-date-value{ font-weight: bold; font-size: 27px; margin-bottom: 8px; }
div.gdl-blog-widget .blog-month-value{ font-size: 20px; margin-bottom: 5px; }
div.gdl-blog-widget .blog-year-value{ font-size: 13px; }
div.gdl-blog-widget .blog-content-wrapper{ overflow: hidden; }
div.gdl-blog-widget .blog-title{ font-size: 18px; font-weight: normal; 
	margin-bottom: 12px; margin-top: 20px; padding-right: 20px; }
div.gdl-blog-widget .blog-content{ padding-right: 20px; }

div.blog-item-holder .gdl-blog-medium{ margin-bottom: 40px; } 
div.blog-item-holder .gdl-blog-medium:last-child{ margin-bottom: 0px; } 
div.gdl-blog-medium .blog-date-wrapper{ text-align: center; float: left; padding: 0px 2px 0px; 
	margin-right: 20px; line-height: 1; width: 44px; } 
div.gdl-blog-medium .blog-date-value{ font-weight: bold; font-size: 34px; margin-bottom: 8px; }
div.gdl-blog-medium .blog-month-value{ font-size: 23px; margin-bottom: 5px; }
div.gdl-blog-medium .blog-year-value{ font-size: 16px; }
div.gdl-blog-medium .blog-content-wrapper{ overflow: hidden; padding-bottom: 40px; }	
div.gdl-blog-medium .blog-media-wrapper{ margin-bottom: 20px; margin-right: 20px; float: left; width: 29%; overflow: hidden; }
div.gdl-blog-medium .blog-media-wrapper img{ display: block; }
div.gdl-blog-medium .blog-media-wrapper .flexslider{ overflow: hidden; }
div.gdl-blog-medium .blog-media-wrapper.gdl-slider .flex-control-nav{ display: none; }
div.gdl-blog-medium .blog-context-wrapper{ overflow: hidden; }
div.gdl-blog-medium .blog-title{ font-size: 24px; font-weight: normal; margin-top: 0px; margin-bottom: 3px; }
div.gdl-blog-medium .blog-info-wrapper{ font-size: 12px; font-style: italic; margin-bottom: 15px; }
div.gdl-blog-medium .blog-tag,
div.gdl-blog-medium .blog-author,
div.gdl-blog-medium .blog-comment{ float: left; margin-right: 15px; } 
	
div.blog-item-holder .gdl-blog-full{ margin-bottom: 40px; } 
div.blog-item-holder .gdl-blog-full:last-child{ margin-bottom: 0px; } 
div.gdl-blog-full .blog-date-wrapper{ text-align: center; float: left; padding: 0px 2px 0px; 
	margin-right: 20px; line-height: 1; width: 44px; } 
div.gdl-blog-full .blog-date-value{ font-weight: bold; font-size: 34px; margin-bottom: 8px; }
div.gdl-blog-full .blog-month-value{ font-size: 23px; margin-bottom: 5px; }
div.gdl-blog-full .blog-year-value{ font-size: 16px; }
div.gdl-blog-full .blog-content-wrapper{ overflow: hidden; padding-bottom: 40px; }
div.gdl-blog-full .blog-media-wrapper{ margin-bottom: 25px; }
div.gdl-blog-full .blog-media-wrapper img{ display: block; }
div.gdl-blog-full .blog-media-wrapper .flexslider{ overflow: hidden; }
div.gdl-blog-full .blog-media-wrapper.gdl-slider .flex-control-nav{ display: none; }
div.gdl-blog-full .blog-title{ font-size: 24px; font-weight: normal; margin-top: 0px; margin-bottom: 3px; }
div.gdl-blog-full .blog-info-wrapper{ font-size: 12px; font-style: italic; margin-bottom: 15px; }
div.gdl-blog-full .blog-tag,
div.gdl-blog-full .blog-author,
div.gdl-blog-full .blog-comment{ float: left; margin-right: 15px; } 

a.gdl-button.blog-continue-reading{ margin-top: 20px; margin-bottom: 0px; }

/*--- blog/port pagination ---*/
div.gdl-pagination{ float: right; margin-top: 30px; }
div.gdl-pagination a,
div.gdl-pagination span{ display: block; padding: 5px 9px; margin-left: 5px; float: left; font-size: 12px; } 

div.portfolio-pagination .gdl-pagination{ margin-top: 10px; }

/*--- column service ---*/
div.column-service-wrapper{ text-align: left; } 
div.column-service-wrapper .column-service-image{ margin-bottom: 6px; margin-right: 15px; float: left; }
div.column-service-wrapper div.column-service-title-wrapper{ overflow: hidden; }
div.column-service-wrapper .column-service-title{ font-size: 19px; font-weight: normal; margin-bottom: 14px; }
div.column-service-wrapper .column-service-caption{ margin-bottom: 20px; }
div.column-service-wrapper .gdl-button{ margin-bottom: 0px; }

/*--- contact form ---*/
div.contact-form-wrapper{ padding-top: 20px; }
div.footer-wrapper div.contact-form-wrapper{ padding-top: 0px; }
div.contact-form-wrapper ol{ margin: 0px; list-style: none; }
div.contact-form-wrapper ol li{ margin-bottom: 20px; }
div.contact-form-wrapper ol li.form-textarea,
div.contact-form-wrapper ol li.form-input{ margin-right: 22px;  }
div.contact-form-wrapper ol li.sending-result{ max-width: 622px; display: none; }
div.contact-form-wrapper ol li.sending-result .message-box-wrapper{ padding: 10px 15px 10px 15px; }
div.contact-form-wrapper ol li div.error{ display: none; }

div.contact-form-wrapper  input[type="text"], input[type="password"] {
	width: 320px; height: 20px; line-height: 20px; padding: 5px; margin: 10px 5px 5px;
	line-height: 20px; max-width: 100%; display: block; }
div.contact-form-wrapper textarea{
	height: 165px; width: 600px; margin: 10px 5px 5px; padding: 5px; max-width: 100%;
	line-height: 20px; display: block; }
	
div.contact-form-wrapper .contact-submit{ float: left; padding: 7px 13px; }
div.contact-form-wrapper .contact-loading{
	width: 16px; height: 16px; float: left; margin: 7px 0px 0px 15px; display:none;
	background: url('images/loading.gif'); }


/*--- divider ---*/
div.gdl-divider{ min-height: 1px; text-align: right; font-size: 11px;}
div.gdl-divider .scroll-top{ cursor: pointer; padding-top: 4px; }

/*--- gallery ---*/
div.gdl-gallery-image img{ display: block; }

/*--- Message Box ---*/
div.message-box-wrapper{ border:1px solid; padding: 20px; margin-bottom: 20px; }
div.message-box-title{ font-weight: bold; font-size: 14px; margin-top: 2px; }
div.message-box-content{ margin-top: 12px; }

div.message-box-wrapper.red{ background-color: #ffdcdd; border-color: #e9b9bb; color: #713a3c;}
div.message-box-wrapper.red .message-box-title{ color: #8d4345;}
div.message-box-wrapper.yellow{ background-color: #ffffe0; border-color: #e1db8b; color: #4d4d39;}
div.message-box-wrapper.yellow .message-box-title{ color: #737357;}
div.message-box-wrapper.blue{ background-color: #c2e1ee; border-color: #8ec3d9; color: #3d5058;}
div.message-box-wrapper.blue .message-box-title{ color: #475d66;}
div.message-box-wrapper.green{ background-color: #e1ffd9; border-color: #badeb1; color: #435b3d;}
div.message-box-wrapper.green .message-box-title{ color: #526d4b;}

/*--- personnal ---*/
div.personnal-item{ border-width: 1px; border-style: solid; }
div.personnal-item .personnal-position{ text-align: center; font-size: 15px; margin-bottom: 22px; }
div.personnal-item .personnal-thumbnail{ margin: 0px 0px 15px; 
	border-top-width: 2px; border-bottom-width: 2px; border-style: solid; }
div.personnal-item .personnal-thumbnail img{ display: block; }
div.personnal-item .personnal-title{ text-align: center;  margin: 25px 15px 3px; font-size: 24px; line-height: 1; }
div.personnal-item .personnal-content{ margin: 0px 15px; padding-bottom: 15px; }

/*--- portfolio item ---*/
div.portfolio-item .portfolio-media-wrapper{ overflow: hidden; position: relative; }
div.portfolio-item .portfolio-media-wrapper img{ display: block; }
div.portfolio-item .portfolio-media-wrapper.gdl-slider .flex-control-nav{ display: none; }
div.portfolio-item .portfolio-context{ margin-top: 3px; padding: 14px 0px; text-align: center; }
div.portfolio-item .portfolio-title{ font-size: 14px; margin-bottom: 1px; }
div.portfolio-item .portfolio-tag{ font-style: italic; font-size: 12px; }

a.view-all-projects{ font-style: italic; }
a.view-all-projects span{ font-style: normal; margin-right: 2px; }
div.portfolio-carousel-wrapper{ overflow: hidden; text-align: center; }
div.portfolio-carousel-wrapper .portfolio-item{ float: left; }

div.portfolio-carousel-wrapper .port-nav-wrapper{ position: absolute; top: -2px; right: 10px; }

div.single-portfolio .port-nav a,
div.portfolio-carousel-wrapper .port-nav{ width: 21px; height: 21px; display: block;
	cursor: pointer; margin: 0px 1px; float: left;
	background-image: url('images/icon/light/port-nav.png'); background-repeat: no-repeat; 
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */}
div.single-portfolio .port-nav .port-next-nav a,
div.portfolio-carousel-wrapper .port-nav.right{ background-position: -21px 0px; }

ul.portfolio-item-filter{ list-style: none; margin: 0px 0px 20px 0px; overflow: hidden; }
ul.portfolio-item-filter li{ float: left; margin-right: 5px; }

div.portfolio-media-wrapper.gdl-image a.hover-wrapper{ display: block; opacity: 0; filter: alpha(opacity=0); 
	position: absolute; width: 100%; height: 100%; 
	
	transition: none; -moz-transition: none; -o-transition: none; -webkit-transition: none; }
div.portfolio-media-wrapper span.portfolio-thumbnail-image-hover{
	display: block; width: 100%; height: 100%; opacity: 0.7; filter: alpha(opacity=70); }
div.portfolio-media-wrapper span.hover-icon{ 
	top: 50%; left: 50%; margin-left: -23px; margin-top: -23px; width: 46px; height: 46px; 
	position: absolute; display: block; }
div.portfolio-media-wrapper span.hover-link{ background: url('images/image-overlay-link.png') no-repeat; }
div.portfolio-media-wrapper span.hover-video{ background: url('images/image-overlay-video.png') no-repeat; }
div.portfolio-media-wrapper span.hover-zoom{ background: url('images/image-overlay.png') no-repeat; }

div.portfolio-item .page-item-title{ font-size: 18px; margin-bottom: 0px; margin-top: 18px; }
div.portfolio-item .page-item-content{ margin-top: 10px;}


/*--- price item ---*/
div.price-table-wrapper{ margin: 20px 10px 0px; }
div.price-item-wrapper{ border-style: solid; border-width: 1px; text-align: center; margin-left: -1px; }
div.price-item-wrapper:first-child{ margin-left: 0px; }
div.price-item .price-title{ font-size: 20px; padding: 18px 20px; border-bottom-style: solid; border-bottom-width: 1px; }
div.price-item .price-tag{ font-size: 26px; font-weight: bold; line-height: 1; padding: 13px 20px;
	border-width: 1px; border-style: solid; } 
div.price-item .price-tag .price-suffix{ font-weight: normal;  font-size: 14px; margin-left: 5px; } 
div.price-item .price-content{ font-size: 16px; padding: 25px 20px 25px; text-align: center; line-height: 1.9;
	border-top-width: 1px; border-top-style: solid; }
div.price-item .price-content ul li { text-align: left; }
div.price-item .price-button-wrapper{ margin-bottom: 30px; }
div.price-item .price-button{  font-size: 13px; display: inline-block; cursor: pointer; 
	padding: 4px 15px; border-width: 0px; border-style: solid; }

div.best-active{ margin-top: -35px; position: relative; z-index: 1; 
	border-top-width: 2px; border-bottom-width: 2px; border-style: solid; }
div.best-active .price-item { height: auto !important; margin-bottom:  }		
div.best-active .price-item .price-title{ font-size: 26px; color: #4b4b4b; border-width: 0px; }	
div.best-active .price-item .price-tag{ font-size: 34px; padding: 23px 20px; border-width: 0px; }	
div.best-active .price-item .price-tag{ background-image: url('images/price-active.png'); 
	background-position: 0px bottom; background-repeat: repeat-x; }
div.best-active .price-item .price-tag .price-suffic{ font-size: 17px; }	
div.best-active .price-item .price-content{ padding-top: 30px; padding-bottom: 30px; }	
div.best-active .price-item .price-button-wrapper{ margin-bottom: 40px; }	
div.best-active .price-item .price-button{ padding: 7px 18px; }	
div.best-active {
 -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.08);
 -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.08);
 box-shadow: 0px 0px 4px rgba(0,0,0,0.08); }

/*--- slider ---*/
div.gdl-slider-wrapper{ position: relative; text-align: center; }
h2.gdl-slider-title{ font-size: 24px; font-weight: bold; font-style: italic;
	display: block; padding: 8px 22px; margin-bottom: 6px; float: right; }
div.gdl-slider-caption{ font-size: 13px; display: inline-block; padding: 7px 15px; float: right; text-align: left; }

/*--- border ---*/
.gdl-border-x{ background-image: url('images/border-horizontal.png'); background-repeat: repeat-x; }
.gdl-border-x.top{ background-position: 0px 0px; }
.gdl-border-x.bottom{ background-position: 0px bottom; }
.gdl-border-y{ background-image: url('images/border-verticle.png'); background-repeat: repeat-y; }
.gdl-border-y.left{ background-position: 0px 0px; }
.gdl-border-y.right{ background-position: right 0px; }

/*--- stunning text ---*/
div.stunning-text-wrapper{ text-align: left; position: relative; }
div.stunning-text-inner-wrapper{ padding: 26px 25px; } 
div.stunning-text-wrapper.button-on .stunning-text-inner-wrapper{ padding-right: 170px; }
div.stunning-text-wrapper .stunning-text-icon{ float: left; display: block; margin-right: 27px; }
div.stunning-text-wrapper .stunning-text-content{ overflow: hidden; }
div.stunning-text-wrapper .stunning-text-title{ font-size: 25px; font-weight: normal; margin-bottom: 4px; }
div.stunning-text-wrapper .stunning-text-caption{ font-size: 17px; font-weight: normal; }
div.stunning-text-wrapper .stunning-text-button{ 	position: absolute; top: 50%; margin-top: -18px; right: 35px; } 

/*--- tab ---*/
div.gdl-tab ul.gdl-tab-title{ zoom: 1; }
div.gdl-tab ul.gdl-tab-title:before, 
div.gdl-tab ul.gdl-tab-title:after{ content: '\0020'; display: block; 
	overflow: hidden; visibility: hidden; width: 0; height: 0; }
div.gdl-tab ul.gdl-tab-title:after{ clear: both; }
div.gdl-tab ul.gdl-tab-title{ margin: 0px; list-style: none; 
	border-bottom-width: 1px; border-bottom-style: solid; }
div.gdl-tab ul.gdl-tab-title li{ float: left; height: 34px; }
div.gdl-tab ul.gdl-tab-title li a{ padding: 0px 20px; cursor: pointer; height: 32px; line-height: 32px;
	display: block; font-weight: bold; 
	border-top-width: 1px; border-right-width: 1px; border-style: solid; }
div.gdl-tab ul.gdl-tab-title li a.active{ border-top-width: 2px; padding-bottom: 1px; }
div.gdl-tab ul.gdl-tab-title li:first-child a{ border-left-width: 1px; }

div.gdl-tab ul.gdl-tab-content{ margin: 0px; list-style: none; }
div.gdl-tab ul.gdl-tab-content{ padding: 20px; 
	border-width: 1px; border-style: solid; border-top: 0px; }
div.gdl-tab ul.gdl-tab-content li{ display: none; }
div.gdl-tab ul.gdl-tab-content li li{ display: block; }
div.gdl-tab ul.gdl-tab-content li.active{ display: block; }
div.gdl-tab ul.gdl-tab-content ol li { display: list-item; }
div.gdl-tab ul.gdl-tab-content ul li { display: block; display: list-item; }
div.gdl-tab ul.gdl-tab-content ul{ margin-bottom: 20px; }

/*--- testimonial ---*/
div.gdl-static-testimonial .testimonial-content{ padding: 5px 0px 5px 20px; font-size: 17px; font-style: italic; }
div.gdl-static-testimonial .testimonial-info{ text-align: left; margin-left: 25px; margin-top: 10px;}
div.gdl-static-testimonial .testimonial-author{ font-weight: bold; }
div.gdl-static-testimonial .testimonial-item{  border-left-width: 3px; border-left-style: solid; margin-bottom: 10px; padding-bottom: 10px; }

div.gdl-carousel-testimonial{ -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
div.gdl-carousel-testimonial .testimonial-item{ display: none; font-size: 14px; }
div.gdl-carousel-testimonial .testimonial-item:first-child{ display: block; }
div.gdl-carousel-testimonial .testimonial-content{ padding: 30px 20px 30px 75px; font-style: italic; 
	margin-bottom: 10px; background-position: 35px 35px; background-repeat: no-repeat; }
div.gdl-carousel-testimonial .testimonial-info{ text-align: right; padding: 0px; }
div.gdl-carousel-testimonial .testimonial-info .testimonial-position{ font-weight: bold; }
div.gdl-carousel-testimonial .testimonial-navigation{ position: absolute; right: 10px; top: -2px; z-index: 100; }
div.gdl-carousel-testimonial .testimonial-navigation a{ width: 21px; height: 21px; display: block;
	cursor: pointer; margin: 0px 1px; float: left;
	background-image: url('images/icon/light/port-nav.png'); background-repeat: no-repeat; 
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */}
div.gdl-carousel-testimonial .testimonial-navigation a.testimonial-next{ background-position: -21px 0px; }


div.gdl-carousel-testimonial.gdl-shortcode{ position: relative; }
div.gdl-carousel-testimonial.gdl-shortcode .testimonial-navigation{ right: 0px; top: -35px; }

/*--- toggle box ---*/
ul.gdl-toggle-box{ list-style: none; margin-left: 0px; }
ul.gdl-toggle-box li{ position: relative; margin-bottom: 15px; overflow: hidden; } 
ul.gdl-toggle-box li:last-child{ margin-bottom: 0px; } 
ul.gdl-toggle-box li .toggle-box-title{ margin: 0px; padding: 5px 0px 5px 35px; font-weight: bold;
	font-size: 15px; cursor: pointer; background-position: 0px center; background-repeat: no-repeat; }
ul.gdl-toggle-box li .toggle-box-content{ margin: 15px 20px 10px 35px; }

ul.gdl-toggle-box li ul{ margin-left: 30px; list-style: disc; }
ul.gdl-toggle-box li li{ background: none; margin: 0px; overflow: visible; }
	
/* #Shortcode
================================================== */

/*--- block quote ---*/
blockquote.left{ width: 33%; float: left;  }
blockquote.right{  width: 33%; float: right; }
blockquote.center{ text-align: center; margin: 10px 10px 20px 20px; }

/*--- code ---*/
.gdl-code{
	overflow: hidden; padding: 15px; border: 1px #e5e5e5 solid; clear: both; background: #ffffff; color: #777;
	margin-bottom: 20px; color: #555; font-size: 13px;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; }

/*--- column ---*/
.shortcode1-4{ margin-right: 2%; float: left; margin-bottom: 20px; width: 23%;    }
.shortcode1-3{ margin-right: 2%; float: left; margin-bottom: 20px; width: 31.33%; }
.shortcode1-2{ margin-right: 2%; float: left; margin-bottom: 20px; width: 48%;    }
.shortcode2-3{ margin-right: 2%; float: left; margin-bottom: 20px; width: 64.66%; }
.shortcode3-4{ margin-right: 2%; float: left; margin-bottom: 20px; width: 73%;    }

.shortcode1-5{ margin-right: 2%; float: left; margin-bottom: 20px; width: 18%; }
.shortcode2-5{ margin-right: 2%; float: left; margin-bottom: 20px; width: 38%; }
.shortcode3-5{ margin-right: 2%; float: left; margin-bottom: 20px; width: 58%; }
.shortcode4-5{ margin-right: 2%; float: left; margin-bottom: 20px; width: 78%; }

.shortcode1-4.last{ margin-right: 0; width: 25%;    }
.shortcode1-3.last{ margin-right: 0; width: 33.33%; }
.shortcode1-2.last{ margin-right: 0; width: 50%;    }
.shortcode2-3.last{ margin-right: 0; width: 66.66%; }	
.shortcode3-4.last{ margin-right: 0; width: 75%;    }

.shortcode1-5.last{ margin-right: 0; width: 20%; }
.shortcode2-5.last{ margin-right: 0; width: 40%; }
.shortcode3-5.last{ margin-right: 0; width: 60%; }
.shortcode4-5.last{ margin-right: 0; width: 80%; }

.shortcode1-1{ width: 100%; }
	
/*--- drop cap ---*/
div.shortcode-dropcap{ margin-top: 2px; margin-bottom: 0px; margin-right: 7px; margin-left: 2px; float: left; font-size: 25px; font-size: 29px; 
	width: 32px; height: 32px; line-height: 32px; text-align: center; float: left; }
div.shortcode-dropcap.circle{ -moz-border-radius: 16px; -webkit-border-radius: 16px; border-radius: 16px; font-size: 18px; margin-right: 10px; }

/*--- gallery ---*/
div.gdl-gallery-image.shortcode{ margin-right: 20px; margin-bottom: 20px; float: left; }

/*--- list ---*/
div.shortcode-list ul{ list-style: none !important; margin-left: 0px !important; }	
div.shortcode-list li{ padding:2px 0px 2px 25px !important; border: none !important; margin-bottom: 0px !important;

	-moz-box-shadow: none !important; 
	-webkit-box-shadow: none !important; 
	box-shadow: none !important; } 
div.shortcode-list.arrow li{ background: url('images/icon/list/arrow.png') no-repeat 0px 4px !important; }
div.shortcode-list.arrow2 li{ background: url('images/icon/list/arrow2.png') no-repeat 0px 4px !important; }
div.shortcode-list.arrow3 li{ background: url('images/icon/list/arrow3.png') no-repeat 0px 4px !important;  }
div.shortcode-list.bullet li{ background: url('images/icon/list/bullet.png') no-repeat 0px 4px !important; }
div.shortcode-list.bullet2 li{ background: url('images/icon/list/bullet2.png') no-repeat 0px 4px !important; }
div.shortcode-list.bullet3 li{ background: url('images/icon/list/bullet3.png') no-repeat 0px 4px !important; }
div.shortcode-list.check li{ background: url('images/icon/list/check.png') no-repeat 0px 4px !important; }
div.shortcode-list.check2 li{ background: url('images/icon/list/check2.png') no-repeat 0px 4px !important; }
div.shortcode-list.check3 li{ background: url('images/icon/list/check3.png') no-repeat 0px 4px !important; }
div.shortcode-list.delete li{ background: url('images/icon/list/delete.png') no-repeat 0px 4px !important; }
div.shortcode-list.delete2 li{ background: url('images/icon/list/delete2.png') no-repeat 0px 4px !important; }
div.shortcode-list.delete3 li{ background: url('images/icon/list/delete3.png') no-repeat 0px 4px !important; }

/* #Sidebar Widget 
================================================== */

/*--- recent post/port widget ---*/
div.gdl-recent-post-widget, div.gdl-recent-port-widget{ padding-top: 12px; }
div.recent-post-widget{ margin-bottom: 20px; }
div.recent-post-widget:last-child{ margin-bottom: 0px; }
div.recent-post-widget .recent-post-widget-thumbnail{ padding: 4px; float: left; margin-right: 13px; }
div.recent-post-widget .recent-post-widget-thumbnail img{ display: block; }
div.recent-post-widget .recent-post-widget-context{ overflow: hidden; }
div.recent-post-widget .recent-post-widget-title{ font-size: 13px; font-weight: normal; padding-top: 2px; margin-bottom: 3px; line-height: 1.1; }
div.recent-post-widget .recent-post-widget-info{ font-size: 12px; font-style: italic; }

div.recent-port-widget .recent-port-widget-thumbnail{ padding: 4px; float: left; margin-right: 15px; margin-bottom: 15px; }
div.recent-port-widget .recent-port-widget-thumbnail img{ display: block; }
div.recent-port-widget.second-style .recent-port-widget-thumbnail img{ width: 65px; height: auto; }

div.footer-wrapper div.recent-post-widget .recent-post-widget-thumbnail,
div.footer-wrapper div.recent-port-widget .recent-port-widget-thumbnail{ padding: 5px; }

/*--- flickr widget ---*/
div.flickr-widget .flickr_badge_image{ float: left; margin-right: 10px; margin-bottom: 10px; }
div.flickr-widget .flickr_badge_image img{ display: block; }

/*--- twitter widget ---*/
ul#twitter_update_list{ font-family: 'Droid Serif'; font-style: italic; list-style: none; margin-left: 0px;  }
ul#twitter_update_list li{ padding-left: 0px; background: none; padding-bottom: 8px; border-bottom-width: 1px; border-bottom-style: solid; }
ul#twitter_update_list li:last-child{ border-bottom-width: 0px; }
ul#twitter_update_list li a { display: block; margin-top: 8px; }
ul#twitter_update_list li span a { display: inline-block; margin-top: 0px; margin-right: 6px; padding-left: 2px; }

/*--- rss widget ---*/
h3.custom-sidebar-title .rsswidget img{ margin-bottom: -1px; margin-right: 3px; }

/*--- personnal widget ---*/
div.gdl-personnal-widget{ display: inline-block; margin-top: 8px; }
div.personnal-widget-item{ display: none; }
div.personnal-widget-item:first-child{ display: block; }
div.personnal-widget-item .personnal-widget-thumbnail{ margin-bottom: 15px; }
div.personnal-widget-item .personnal-widget-thumbnail img{ display: block; }
div.personnal-widget-item .personnal-widget-info{  font-weight: bold; margin-bottom: 10px; }

div.personnal-widget-navigation{ position: absolute; right: 0px; top: 50%; margin-top: -10px; z-index: 100; }
div.personnal-widget-navigation .personnal-widget-prev,
div.personnal-widget-navigation .personnal-widget-next{ width: 4px; height: 7px; padding: 3px 3px; margin-left: 1px; float: left;
	background-repeat: no-repeat; background-position: center center; cursor: pointer; }

/*--- search widget ---*/	
div.custom-sidebar .gdl-search-form{ padding-top: 12px; }
div.custom-sidebar #search-text{ margin-right: 22px; }
div.custom-sidebar #searchform{ position: relative; margin-bottom: 0; }
div.custom-sidebar #search-text input[type="text"]{ padding: 6px 5px; margin: 5px 5px; width: 100%; height: 18px; line-height: 18px; }
div.custom-sidebar #searchform br.clear{ display: none; }	
div.custom-sidebar #searchsubmit{ background-color: transparent; border: none; position: absolute; 
	width: 26px; height: 26px; padding: 0px; top: 8px; margin-top: 0px; right: 10px; }

div.footer-wrapper #search-text input[type="text"]{ margin: 0px; }
div.footer-wrapper #searchsubmit{ top: 2px; right: 15px; }
	
/*--- contact form ---*/	
div.sidebar-wrapper .contact-form-wrapper{ padding-top: 7px; }
div.sidebar-wrapper .contact-form-wrapper input{ height: 18px; line-height: 18px; }
div.sidebar-wrapper .contact-form-wrapper textarea{ height: 65px; }

div.footer-wrapper .contact-form-wrapper input{ margin: 5px 0px 0px; height: 18px; line-height: 18px;
	-webkit-box-shadow: none !important; box-shadow: none !important; } 
div.footer-wrapper .contact-form-wrapper textarea{ margin: 5px 0px 0px; height: 65px;
	-webkit-box-shadow: none !important; box-shadow: none !important; } 
div.footer-wrapper .contact-form-wrapper button{ background-image: none; }	

/*--- tag cloud ---*/
.tagcloud{ display: inline-block; margin-bottom: 13px; }
.tagcloud a{
	font-size: 12px !important; display: block; float: left; padding: 4px 9px 4px 9px; margin-right: 10px;
	margin-top: 10px; border: 0px solid; border-color: inherit;  }

/*--- sidebar list style ---*/
div.custom-sidebar ul{ list-style: none; margin-left: 0px; }
div.custom-sidebar ul li{ padding: 5px 0px 5px 15px; background-position: 0px 10px !important; }
div.custom-sidebar ul li:last-child{ border-bottom: 0; } 
div.custom-sidebar ul ul{ margin-top: 8px; border-top-width: 1px; border-top-style: solid; }
div.custom-sidebar ul ul li:last-child{ padding-bottom: 0px; }

div.custom-sidebar ul.gdl-accordion li { padding-left: 0px; background: none; }
div.custom-sidebar ul.gdl-toggle-box li { padding-left: 0px; background: none; }

/*--- Calendar ---*/
#calendar_wrap{ border-color: inherit; padding-bottom: 10px;}
#wp-calendar{ width: 100%; border-color: inherit; border-width: 0px; }
#wp-calendar caption{ font-size: 13px; font-weight: bold; margin: 10px auto 15px; padding-bottom: 6px; border-bottom: 0px solid; border-color: inherit; }
#wp-calendar td{ padding: 4px; text-align: center; border-right: 0px; }
#wp-calendar th{ padding: 0px; text-align: center; border-right: 0px; border-bottom: 0px; background: transparent;  }

/*--- flickr widget ---*/
div.custom-sidebar .flickr-widget{ display: block; padding-bottom: 18px; padding-top: 12px; }
div.custom-sidebar .flickr-widget img{ width: 65px; height: 65px; }
div.custom-sidebar .flickr_badge_image{	margin: 0px 15px 15px 0px; float: left; padding: 4px; }
div.footer-wrapper .custom-sidebar .flickr_badge_image{ padding: 5px; }

/*--- Text Widget ---*/
div.textwidget{ padding-top: 5px; }


/* #Plugin
================================================== */	

/*---Isotope---*/
.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s; }
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width; }
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:         top, left, opacity;
	transition-property:         transform, opacity; }
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s; }

.navigation-wrapper .cufon[alt=" "] {
display: none !important;
}